<div mat-dialog-title>
	<h1>Registro</h1>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<mat-dialog-content>
		<h2 class="subtitle">Informações Pessoais</h2>
		<div class="row">
			<div class="col">
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>Localização/Sala</mat-label>
					<input matInput maxlength="256" formControlName="name">
					<mat-error *ngIf="form.get('name')?.invalid">Você deve inserir um valor</mat-error>
				</mat-form-field>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>Tipo de Localização</mat-label>
					<mat-select formControlName="locationType">
						@for (element of locationTypes; track $index) {
							<mat-option [value]="element">{{ element.name }}</mat-option>
						}
					</mat-select>
					<mat-error *ngIf="form.get('locationType')?.invalid">Você deve inserir um valor</mat-error>
				</mat-form-field>
			</div>
			<div class="col">
				<button mat-button type="button" class="button" aria-label="Recarregar">
					<mat-icon>add</mat-icon>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>Instalação</mat-label>
					<mat-select formControlName="facility">
						@for (element of facilities; track $index) {
							<mat-option [value]="element">{{ element.name }}</mat-option>
						}
					</mat-select>
					<mat-error *ngIf="form.get('facility')?.invalid">Você deve inserir um valor</mat-error>
				</mat-form-field>
			</div>
			<div class="col">
				<button mat-button type="button" class="button" aria-label="Recarregar">
					<mat-icon>add</mat-icon>
				</button>
			</div>
		</div>

	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-raised-button type="submit" [disabled]="form.invalid">
			{{ data ? 'Atualizar' : 'Salvar' }}
		</button>
		<button mat-raised-button type="button" [mat-dialog-close]="true">
			Cancelar
		</button>
	</mat-dialog-actions>
</form>

