<div class="dialog-header">
	<h2 class="h2" mat-dialog-title>Informações do Usuário</h2>
	<button mat-icon-button mat-dialog-close>
		<mat-icon>close</mat-icon>
	</button>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<mat-dialog-content>
		<div class="row">
			<div class="col">
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>Nome Completo</mat-label>
					<input matInput maxlength="256" formControlName="name">
					<mat-error *ngIf="form.get('name')?.invalid">Você deve inserir um valor</mat-error>
				</mat-form-field>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>E-mail</mat-label>
					<input matInput placeholder="email@example.com" maxlength="256" formControlName="email"
						   required>
					<mat-error *ngIf="form.get('email')?.invalid">{{ getErrorMessage() }}</mat-error>
				</mat-form-field>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>Nome de usuário</mat-label>
					<input matInput formControlName="username" maxlength="256">
					<button mat-icon-button matSuffix [cdkCopyToClipboard]="form.get('username')?.value ?? ''">
						<mat-icon>content_copy</mat-icon>
					</button>
					<mat-error *ngIf="form.get('username')?.invalid">Você deve inserir um valor</mat-error>
				</mat-form-field>
			</div>
			<div class="col">
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>Atribuição</mat-label>
					<mat-select formControlName="assignment" [compareWith]="compareById">
						@for (element of assignment; track $index) {
							<mat-option [value]="element">{{ element.name }}</mat-option>
						}
					</mat-select>
					<mat-error *ngIf="form.get('roles')?.invalid">Você deve inserir um valor</mat-error>
				</mat-form-field>
			</div>
		</div>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-raised-button
				class="button-secondary"
				type="button" [mat-dialog-close]="true">
			Cancelar
		</button>
		<button mat-raised-button
				class="button-primary"
				type="submit" [disabled]="form.invalid">
			Salvar
		</button>
	</mat-dialog-actions>
</form>

