@use 'forms';
@use 'fonts';
@use 'buttons';

.dialog-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;

	button {
		margin-left: auto;
	}
}

.dialog-footer {
	margin: 16px;
}

