@use '@angular/material' as mat;
@use 'fonts';

.spacer {
	flex: 1 1 auto;
}

.toolbar{
	@include mat.toolbar-overrides((
		container-background-color: orange,
	));
}

.collapse {
	@include mat.expansion-overrides((
		container-background-color: none,
		container-shape: none,
		legacy-header-indicator-display: none
	));
}

.sidenav {

	height: 93vh;

	@include mat.sidenav-overrides((
		container-background-color: orange,
		container-width: 250px
	));

	&.narrow {
		@include mat.sidenav-overrides((
			container-width: 60px
		));
	}
}



.mat-drawer-content {
	display: flex;
	flex-direction: column;
	height: 100vh; /* Isso garante que o conteúdo ocupe a altura total da tela */
	padding: 20px; /* Ajuste o padding conforme necessário */
	box-sizing: border-box;
}

.content {
	flex-grow: 1; /* Faz com que o conteúdo ocupe o restante da altura disponível */

}


mat-icon {
	margin-right: 5px;
}

.footer {
	position: fixed;
	align-content: center;
	justify-content: center;
	align-items: center;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

mat-line {
	display: flex;
}

mat-drawer {
	border-radius: 0px !important;
}

.full-width {
	width: 100%;
}


