<mat-toolbar class="toolbar">
	<button mat-icon-button class="icon-extra-large" (click)="toggleDrawer()">
		<mat-icon>menu</mat-icon>
	</button>

	<span class="h2">Guardião de Chaves</span>
	<span class="spacer"></span>

	<button
		(click)="toggleNotifications()"
		mat-icon-button
		class="icon-extra-large"
	>
		<mat-icon [matBadge]="notifications.length" matBadgePosition="above after" matBadgeColor="accent">
			notifications
		</mat-icon>
	</button>

	<button mat-button [matMenuTriggerFor]="userMenu" class="user-menu">
		{{ getUser() ?? 'Não definido' }}
		<mat-icon>arrow_drop_down</mat-icon>
	</button>

	<mat-menu #userMenu="matMenu">
		<button mat-menu-item>
			Alterar Perfil
			<mat-icon>settings</mat-icon>
		</button>
		<button mat-menu-item (click)="logout()">
			Sair
			<mat-icon>logout</mat-icon>
		</button>
	</mat-menu>
</mat-toolbar>

@if (notificationsVisible) {


	<div class="notifications-container">
		<div class="card-notifications">
			<span class="h2">Notificações</span>
		</div>

		@for (notification of notifications; track notification.id) {
			<div class="card-notifications">
				<mat-card appearance="outlined">
					<mat-card-header>
						<mat-card-title>{{ notification.name }}</mat-card-title>
					</mat-card-header>

					<mat-card-content>
						<p>A {{ notification.reservation?.location?.name }} reservada no período {{notification.reservation?.formattedPeriod}} está com a devolução atrasada.
						</p>
					</mat-card-content>

					<mat-card-actions align="end">
						<button mat-button (click)="markAsRead(notification)">Marcar como lido</button>
					</mat-card-actions>
				</mat-card>
			</div>
		}
	</div>

}

<mat-drawer-container class="sidenav-container" autosize>
	<!-- Menu Lateral -->
	<mat-drawer class="sidenav" mode="side" [ngClass]="{'narrow': !opened}" opened>
		<mat-list>
			@if (opened) {
				<div mat-subheader>Gestão de Processos</div>
			}
			@for (option of menuOptions; track option) {
				@if (opened) {
					<mat-list-item
						[routerLink]="!(!hasAnyPermission(option.permissions) || option.isDisabled) ? option.route : null"
						routerLinkActive="active"
						[disabled]="!hasAnyPermission(option.permissions) || option.isDisabled"
						[hidden]="option.isHidden"
						[matTooltip]=option.description
						matTooltipPosition="right"
					>
						<mat-icon
							matListItemIcon>{{ option.icon }}
						</mat-icon>
						<div matListItemTitle>{{ option.title }}</div>
					</mat-list-item>
				} @else {
					<mat-list-item
						[routerLink]="!(!hasAnyPermission(option.permissions) || option.isDisabled) ? option.route : null"
						routerLinkActive="active"
						[disabled]="!hasAnyPermission(option.permissions) || option.isDisabled">
						<mat-icon matListItemIcon
								  [matTooltip]=option.title
								  matTooltipPosition="right"
						>{{ option.icon }}
						</mat-icon>
					</mat-list-item>
				}

			}
			@if (opened) {
				<div mat-subheader>Configurações</div>
			}
			@for (option of menuOptionsSettings; track option) {

				@if (opened) {
					<mat-list-item
						[routerLink]="!(!hasAnyPermission(option.permissions) || option.isDisabled) ? option.route : null"
						routerLinkActive="active"
						[disabled]="!hasAnyPermission(option.permissions) || option.isDisabled"
						[matTooltip]=option.description
						matTooltipPosition="right"
					>
						<mat-icon matListItemIcon>{{ option.icon }}</mat-icon>
						<div matListItemTitle>{{ option.title }}</div>
					</mat-list-item>
				} @else {
					<mat-list-item
						[routerLink]="!(!hasAnyPermission(option.permissions) || option.isDisabled) ? option.route : null"
						routerLinkActive="active"
						[disabled]="!hasAnyPermission(option.permissions) || option.isDisabled">
						<mat-icon matListItemIcon
								  [matTooltip]=option.title
								  matTooltipPosition="right"
						>{{ option.icon }}
						</mat-icon>
					</mat-list-item>
				}
			}
		</mat-list>
	</mat-drawer>

	<mat-drawer-content class="mat-drawer-content">
		<div class="content">
			<!-- Área de Conteúdo -->
			<router-outlet></router-outlet>
		</div>
	</mat-drawer-content>
</mat-drawer-container>
