@use '@angular/material' as mat;

.spacer {
	flex: 1 1 auto;
}

.toolbar{
	@include mat.toolbar-overrides((

	));
}

.collapse {
	@include mat.expansion-overrides((
		container-background-color: none,
		container-shape: none,
		legacy-header-indicator-display: none
	));
}

.sidenav {

	height: 100vh;

	@include mat.sidenav-overrides((
		container-background-color: orange,
		container-width: 250px
	));

	&.narrow {
		@include mat.sidenav-overrides((
			container-width: 60px
		));
	}
}



.content {
	height: 100vh;
	padding: 15px;
}

mat-icon {
	margin-right: 5px;
}

.footer {
	position: fixed;
	align-content: center;
	justify-content: center;
	align-items: center;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

mat-line {
	display: flex;
}

mat-drawer {
	border-radius: 0px !important;
}

.full-width {
	width: 100%;
}


