@use '@angular/material' as mat;


.internal-spinner {
	display: inline-block;
	position: absolute;
	right: 25px;


}

.select{

	@include mat.select-overrides((
		panel-background-color: orange,
		enabled-trigger-text-color: red,
	));
}

