<mat-form-field appearance="outline" class="full-width">
	<mat-label>{{ placeholder() }}</mat-label>

	<mat-select
		[value]="selected.value"
		(selectionChange)="selectOption($event.value)"
		[disabled]="isLoading()"
	>
		<mat-option *ngIf="isLoading()" disabled>
			<mat-spinner diameter="20"></mat-spinner>
			Loading...
		</mat-option>

		<mat-option *ngFor="let option of options()" [value]="option">
			{{ displayFn()(option) }}
		</mat-option>
	</mat-select>

	<mat-hint>{{ hint() }}</mat-hint>

	<mat-error *ngIf="selected.invalid">
		{{ getErrorMessage() }}
	</mat-error>
</mat-form-field>
