@use 'buttons';
@use 'fonts';
@use 'forms';

.content {
	padding-bottom: 30px;
}

.slide-toggle-wrapper {
	display: flex;
	align-items: center;
	gap: 16px;
	margin-bottom: 16px;
}

.actions {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}
