<div class="dialog-header">
	<h2 class="h2" mat-dialog-title>Informações do Empréstimo</h2>
	<button mat-icon-button mat-dialog-close>
		<mat-icon>close</mat-icon>
	</button>
</div>
<mat-dialog-content>
	<mat-stepper linear #stepper>
		<mat-step [stepControl]="firstFormGroup">
			<form [formGroup]="firstFormGroup">
				<ng-template matStepLabel>Informações</ng-template>
				<div class="row">
					<div class="col">
						<app-select-wrapped
							formControlName="requester"
							(change)="onRequesterChange($event)"
							[options]="requesters"
							[isLoading]="loadings.requesters"
							[displayFn]="requesterDisplay"
							placeholder="Solicitante"
						></app-select-wrapped>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<app-select-wrapped
							formControlName="permission"
							(change)="onPermissionChange($event)"
							[options]="permissions"
							[isLoading]="loadings.permissions"
							[displayFn]="permissionDisplay"
							placeholder="Sala"
						></app-select-wrapped>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<mat-form-field appearance="outline" class="full-width">
							<mat-label>Status</mat-label>
							<mat-select formControlName="status" [compareWith]="compareById">
								<mat-option *ngFor="let element of status" [value]="element">{{ element }}</mat-option>
							</mat-select>
							<mat-error *ngIf="firstFormGroup.get('status')?.invalid">
								Você deve inserir um valor
							</mat-error>
						</mat-form-field>
					</div>
				</div>

				<div class="row">
					<div class="col">

						<app-select-wrapped
							formControlName="key"
							[options]="keys"
							[isLoading]="loadings.keys"
							[displayFn]="keyDisplay"
							placeholder="Chave"
						></app-select-wrapped>

					</div>
				</div>

				<div class="align-end">
					<button mat-button class="button-primary" [disabled]="firstFormGroup.invalid" matStepperNext>
						Avançar
					</button>
				</div>
			</form>
		</mat-step>

		<mat-step [stepControl]="secondFormGroup">
			<form [formGroup]="secondFormGroup" (ngSubmit)="onSubmit()">
				<ng-template matStepLabel>Período</ng-template>
				<div class="row">
					<div class="col">
						<mat-form-field appearance="outline" class="full-width">
							<mat-label>Data de início</mat-label>
							<input matInput
								   [matDatepicker]="datepickerStartDateTime"
								   formControlName="startDateTime">
							<mat-datepicker #datepickerStartDateTime/>
							<mat-datepicker-toggle [for]="datepickerStartDateTime" matSuffix/>
						</mat-form-field>
					</div>
					<div class="col">
						<mat-form-field appearance="outline" class="full-width">
							<mat-label>Horário de início</mat-label>
							<input matInput
								   [matTimepicker]="timepickerStartDateTime"
								   formControlName="startDateTime"
								   matTimepickerMin="06:00"
								   matTimepickerMax="23:00"
							>
							<mat-timepicker #timepickerStartDateTime/>
							<mat-timepicker-toggle [for]="timepickerStartDateTime" matSuffix/>
						</mat-form-field>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<mat-form-field appearance="outline" class="full-width">
							<mat-label>Data final</mat-label>
							<input matInput
								   [matDatepicker]="datepickerEndDateTime"
								   formControlName="endDateTime">
							<mat-datepicker #datepickerEndDateTime/>
							<mat-datepicker-toggle [for]="datepickerEndDateTime" matSuffix/>
						</mat-form-field>
					</div>
					<div class="col">
						<mat-form-field appearance="outline" class="full-width">
							<mat-label>Horário final</mat-label>
							<input matInput
								   [matTimepicker]="timepickerEndDateTime"
								   formControlName="endDateTime"
								   matTimepickerMin="06:00"
								   matTimepickerMax="23:00"
							>
							<mat-timepicker #timepickerEndDateTime/>
							<mat-timepicker-toggle [for]="timepickerEndDateTime" matSuffix/>
						</mat-form-field>
					</div>
				</div>

				<div class="align-end">
					<button
						mat-button
						class="button-secondary"
						matStepperPrevious>
						Voltar
					</button>
					<button
						mat-flat-button
						class="button-primary"
						type="submit"
						matStepperNext>
						Salvar
					</button>
				</div>
			</form>
		</mat-step>
	</mat-stepper>
</mat-dialog-content>
