<div class="app-forms-style">

	<div mat-dialog-title>
		<h1>Registro</h1>
	</div>

	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<mat-dialog-content>

			<div class="row">
				<mat-form-field appearance="outline">
					<mat-label>Cargo</mat-label>
					<input matInput type="text" placeholder="i.e David" formControlName="name">
				</mat-form-field>
			</div>

			<div class="row">
				<mat-form-field appearance="outline">
					<mat-label>Date of birth:</mat-label>
					<input matInput [matDatepicker]="picker" formControlName="updatedAt">
					<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
			</div>

			<div class="row">
				<mat-label>Ativo</mat-label>
				<mat-radio-group aria-label="Select an option" formControlName="active">
					<mat-radio-button [value]="true">Ativo</mat-radio-button>
					<mat-radio-button [value]="false">Inativo</mat-radio-button>
				</mat-radio-group>
			</div>
		</mat-dialog-content>
		<mat-dialog-actions align="end">
			<button style="margin: 10px;" mat-raised-button color="accent" type="submit">{{ data ? 'Update' : 'Save' }}
			</button>
			<button mat-raised-button type="button" color="warn" [mat-dialog-close]="false">Cancel</button>
		</mat-dialog-actions>
	</form>
</div>
