@use '@angular/material' as mat;

.spacer {
	flex: 1 1 auto;
}

.container {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

h1.app-name {
	margin-left: 8px;
}

.toolbar{
	@include mat.toolbar-overrides((
	));
}

.sidenav-container {
	flex: 1;


}

.title {
	color: white;
}

.content {
	padding: 15px;
}

mat-icon {
	margin-right: 5px;
}

.footer {
	position: fixed;
	align-content: center;
	justify-content: center;
	align-items: center;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

mat-line {
	display: flex;
}

mat-drawer {
	border-radius: 0px !important;
}

.full-width {
	width: 100%;
}
