<div class="dialog-header">
	<h2 class="h2" mat-dialog-title>Informações do Solicitante</h2>
	<button mat-icon-button mat-dialog-close>
		<mat-icon>close</mat-icon>
	</button>
</div>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
	<mat-dialog-content>
		<div class="row">
			<div class="col">
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>Nome Completo</mat-label>
					<input matInput maxlength="256" formControlName="name">
					<mat-error *ngIf="formGroup.get('name')?.invalid">Você deve inserir um valor</mat-error>
				</mat-form-field>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>E-mail(s)</mat-label>
					<mat-chip-grid #chipGrid formControlName="emails">
						@for (keyword of this.formGroup.get('emails')!.value; track keyword.id) {
							<mat-chip-row (removed)="removeKeyword(keyword)">
								{{ keyword }}
								<button matChipRemove>
									<mat-icon>cancel</mat-icon>
								</button>
							</mat-chip-row>
						}
					</mat-chip-grid>
					<input
						[matChipInputFor]="chipGrid"
						[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
						[matChipInputAddOnBlur]="addOnBlur"
						(matChipInputTokenEnd)="add($event)"
					/>
				</mat-form-field>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>Tipo de Cargo</mat-label>
					<mat-select formControlName="jobTitle" [compareWith]="compareById">
						@for (element of jobTitles; track $index) {
							<mat-option [value]="element">{{ element.name }}</mat-option>
						}
					</mat-select>
					<mat-error *ngIf="formGroup.get('jobTitle')?.invalid">Você deve inserir um valor</mat-error>
				</mat-form-field>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>Registro/Identificação</mat-label>
					<input matInput maxlength="256" formControlName="register">
					<mat-error *ngIf="formGroup.get('register')?.invalid">Você deve inserir um valor</mat-error>
				</mat-form-field>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="slide-toggle-wrapper">
					<mat-slide-toggle formControlName="responsible">
						Elegível para ser responsável
					</mat-slide-toggle>
					<mat-icon class="icon-medium"
							  matTooltip="Um solicitante responsável pode ser atribuído a uma sala"
							  matTooltipPosition="right">
						info
					</mat-icon>
				</div>
			</div>
		</div>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-raised-button
				class="button-secondary"
				type="button" [mat-dialog-close]="true">
			Cancelar
		</button>
		<button mat-raised-button
				class="button-primary"
				type="submit" [disabled]="formGroup.invalid">
			Salvar
		</button>
	</mat-dialog-actions>
</form>

