@use 'colors';
@use 'fonts';
@use 'buttons';
@use 'icons';

.dialog-header {
	display: flex;
	justify-content: flex-end;
	padding: 10px;
}

.dialog-icon {
	text-align: center;
}

.dialog-title {
	margin: 0;
	text-align: center;
	flex-grow: 1;
}

.dialog-content {
	text-align: center;
	padding: 10px;
	font-size: 16px;
}

.dialog-actions {
	display: flex;
	justify-content: flex-end;
}
