<div class="content h2">
	Gerenciamento de Autorizações
</div>
<mat-tab-group mat-stretch-tabs [class]="'stretched-tabs mat-elevation-z2 selected-tab-{{tabGroup.selectedIndex}}'"
			   [color]="'warn'">
	<mat-tab>
		<ng-template mat-tab-label>
			<mat-icon class="tab-icon">room_preferences</mat-icon>
			Solicitantes
		</ng-template>
		<app-requester-datatable></app-requester-datatable>
	</mat-tab>
	<mat-tab>
		<ng-template mat-tab-label>
			<mat-icon class="tab-icon">badge</mat-icon>
			Permissões
		</ng-template>
		<app-permission-datatable></app-permission-datatable>
	</mat-tab>
</mat-tab-group>

