@use 'forms';
@use 'fonts';
@use 'buttons';

.dialog-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;

	button {
		margin-left: auto;
	}
}

.dialog-footer {
	margin: 16px;
}

.list {
	margin-top: 20px;
	border: solid 1px #ccc;
	min-height: 60px;
	background: white;
	border-radius: 4px;
	overflow: hidden;
	display: block;
}

.box {
	padding: 20px 10px;
	border-bottom: solid 1px #ccc;
	color: rgba(0, 0, 0, 0.87);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	cursor: move;
	background: white;
	font-size: 14px;
}

.slide-toggle-wrapper {
	display: flex;
	align-items: center;
	gap: 8px;
}

.cdk-drag-preview {
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
	0 8px 10px 1px rgba(0, 0, 0, 0.14),
	0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
	opacity: 0;
}

.cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box:last-child {
	border: none;
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
