<div mat-dialog-title>
	<h1>Registro</h1>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<mat-dialog-content>
		<div class="row">
			<div class="col">
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>Solicitante</mat-label>
					<mat-select
						formControlName="requester"
						[compareWith]="compareById"
						(selectionChange)="onRequesterChange($event.value)">
						<mat-option *ngFor="let element of requester" [value]="element">
							{{ element.name }}
						</mat-option>
					</mat-select>
					<mat-error *ngIf="form.get('requester')?.invalid">Você deve inserir um valor</mat-error>
				</mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>Permissão</mat-label>
					<mat-select
						formControlName="permission"
						[compareWith]="compareById"
						[disabled]="!this.form.get('permission')">
						<mat-option *ngFor="let element of permission" [value]="element">
							{{ element.location.name }} - {{ element.location.facility.name }}
						</mat-option>
					</mat-select>
					<mat-error *ngIf="form.get('permission')?.invalid">Você deve inserir um valor</mat-error>
				</mat-form-field>
			</div>
		</div>

		<div class="row">
			<div class="col">

				<mat-form-field appearance="outline">
					<mat-label>Data de início</mat-label>
					<input matInput
						   [matDatepicker]="datepickerStartDateTime"
						   formControlName="startDateTime">
					<mat-datepicker #datepickerStartDateTime/>
					<mat-datepicker-toggle [for]="datepickerStartDateTime" matSuffix/>
				</mat-form-field>

			</div>
			<div class="col">
				<mat-form-field appearance="outline">
					<mat-label>Horário de início</mat-label>
					<input matInput
						   [matTimepicker]="timepickerStartDateTime"
						   formControlName="startDateTime"
						   matTimepickerMin="06:00"
						   matTimepickerMax="23:00"
					>
					<mat-timepicker #timepickerStartDateTime/>
					<mat-timepicker-toggle [for]="timepickerStartDateTime" matSuffix/>
				</mat-form-field>
			</div>
		</div>

		<div class="row">
			<div class="col">

				<mat-form-field appearance="outline">
					<mat-label>Data final</mat-label>
					<input matInput
						   [matDatepicker]="datepickerEndDateTime"
						   formControlName="endDateTime">
					<mat-datepicker #datepickerEndDateTime/>
					<mat-datepicker-toggle [for]="datepickerEndDateTime" matSuffix/>
				</mat-form-field>

			</div>
			<div class="col">
				<mat-form-field appearance="outline">
					<mat-label>Horário final</mat-label>
					<input matInput
						   [matTimepicker]="timepickerEndDateTime"
						   formControlName="endDateTime"
						   matTimepickerMin="06:00"
						   matTimepickerMax="23:00"
					>
					<mat-timepicker #timepickerEndDateTime/>
					<mat-timepicker-toggle [for]="timepickerEndDateTime" matSuffix/>
				</mat-form-field>
			</div>
		</div>
	</mat-dialog-content>

	<mat-dialog-actions align="end">
		<button mat-raised-button type="submit">
			{{ data ? 'Atualizar' : 'Salvar' }}
		</button>
		<button mat-raised-button type="button" [mat-dialog-close]="true">
			Cancelar
		</button>
	</mat-dialog-actions>
</form>

