@use 'forms';

$black: #080a0b;

.mat-stepper-horizontal {
	margin-top: 8px;
}

.mat-mdc-form-field {
	margin-top: 16px;
}

.container {
	margin: 16px;
}

.form-container {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	margin-bottom: 16px;
}

.dialog-header {
	display: flex;
	padding: 10px;

	button {
		margin-left: auto;
	}
}

.title {
	font-weight: bold;
	font-size: 1.4rem;
	color: $black;
}

.subtitle {
	font-weight: bold;
	font-size: 1.2rem;
	color: $black;
}

.dialog-footer {
	margin: 16px;
}
