<div class="content">


	<app-transactions-management-filters></app-transactions-management-filters>

	<mat-tab-group (selectedIndexChange)="onTabChange($event)"
				   [(selectedIndex)]="activeTabIndex">
		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="tab-icon">room_preferences</mat-icon>
				Empŕestimos
			</ng-template>

			<app-transactions-management-datatable [status]="Status.Loan"></app-transactions-management-datatable>
		</mat-tab>

		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="tab-icon">event</mat-icon>
				Reservas
			</ng-template>
			<app-transactions-management-datatable [status]="Status.Scheduled"></app-transactions-management-datatable>
		</mat-tab>

		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="tab-icon">history</mat-icon>
				Histórico
			</ng-template>
			<app-transactions-management-datatable [status]="Status.Completed"></app-transactions-management-datatable>
		</mat-tab>

	</mat-tab-group>
</div>
