.container {
	height: 200px;
	width: 100%;
	overflow: auto;
}

.mat-table-container {
	width: 100%;
	overflow-x: auto;
}

.table-wrapper {
	min-width: 600px;
}

.full-width {
	width: 100%;
}

.paginator {
	border-radius: 10px;
}
