@use 'theme-colors' as custom-theme;
@use '@angular/material' as mat;

@use 'buttons';
@use "icons";

.toolbar-row {
	align-items: flex-start;
	padding: 0;
	margin-top: 15px;
	margin-bottom: 10px;
}

.actions {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

.spacer {
	flex: 1 1 auto;
}

.container {
	height: 400px;
	width: 100%;
	overflow: auto;
}

.mat-table-container {
	width: 100%;
	overflow-x: auto;
}

.table-wrapper {
	min-width: 600px;
}

.paginator {
	border-radius: 10px;
}

.tag {
	color: #000000;
	border-radius: 5px;
	padding: 8px 16px;
}

.atrasado {
	background-color: #ffd6d1;
}

.em-andamento {
	background-color: #fff9c4;
}

.agendado {
	background-color: #e3f2fd;
}





