/* You can add global styles to this file, and also import other style files */


html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
	width: 100%;
}


/**
 * Sobreescrevendo estilos globais do Angular Material v17
 */

$white: #FFF;

mat-tab-group {
	background-color: $white;
}

mat-toolbar {
	background-color: $white;
}

mat-toolbar-row {
	background-color: $white;
	align-items: center;
	vertical-align: middle;
}
