/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'theme-colors';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

.full-width {
	width: 100%;
}

/*
* https://material.angular.io/guide/theming#getting-started
 */
html {

	@include mat.theme((
		color: (
			primary: theme-colors.$primary-palette-palette,
			theme-type: light,
		),
		typography: (
			plain-family: Poppins,
			bold-weight: 900,
			medium-weight: 500,
			regular-weight: 300,
		),
		density: 0
	));

}

body {
	background: var(--mat-sys-surface);
	color: var(--mat-sys-on-surface);
}


