@mixin theme-colors() {
	--border: #4B4B4B;
	--primary: #3A86FF;
	--primary-light: #6EC4FF;
	--primary-dark: #2277CC;
	--secondary: #2E2E2E;
	--accent: #FF9F00;
	--danger: #FF4C4C;
	--warning: #FFBB33;
	--success: #28A745;
	--info: #17A2B8;
	--background: #F8F9FA;
	--text-primary: #212121;
	--text-secondary: #757575;
	--tooltip-text: #FFFFFF;
	--header-background: #6EC4FF;
	--row-hover: #A6D8FF;
	--row-odd-bg: #F1F1F1;
	--row-even-bg: #FFFFFF;
}

:root {
	@include theme-colors();
}

@mixin color-class($color-name) {
	&.bg-#{$color-name} {
		background-color: var(--#{$color-name});
	}

	&.text-#{$color-name} {
		color: var(--#{$color-name});
	}
}

.bg-primary {
	@include color-class(primary);
}

.bg-secondary {
	@include color-class(secondary);
}

.bg-accent {
	@include color-class(accent);
}

.bg-danger {
	@include color-class(danger);
}

.bg-warning {
	@include color-class(warning);
}

.bg-success {
	@include color-class(success);
}

.bg-info {
	@include color-class(info);
}

.bg-background {
	@include color-class(background);
}

.bg-text-primary {
	@include color-class(text-primary);
}

.bg-text-secondary {
	@include color-class(text-secondary);
}

.bg-tooltip-text {
	@include color-class(tooltip-text);
}

.bg-header-background {
	@include color-class(header-background);
}

.bg-row-hover {
	@include color-class(row-hover);
}

.bg-row-odd-bg {
	@include color-class(row-odd-bg);
}

.bg-row-even-bg {
	@include color-class(row-even-bg);
}
