@mixin theme-colors() {
	--primary: #1e88e5; // Azul
	--secondary: #43a047; // Verde
	--accent: #fbc02d; // Amarelo
	--danger: #e53935; // Vermelho
	--warning: #fb8c00; // Laranja
	--success: #4caf50; // Verde claro
	--info: #29b6f6; // Azul claro
	--background: #f5f5f5; // Cinza claro
	--text-primary: #212121; // Preto
	--text-secondary: #757575; // Cinza escuro
	--header-background: #2196f3; // Azul escuro para cabeçalho
	--row-hover: #e0f7fa; // Azul claro para o hover da linha
	--row-odd-bg: #f1f1f1; // Fundo para linhas ímpares
	--row-even-bg: #ffffff; // Fundo para linhas pares
}

:root {
	@include theme-colors();
}
