$font-size-label: 1rem;
$input-padding: 4px;
$button-margin: 8px;
$input-background-color: #f0f0f0;

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 10px;
	gap: 10px;
	align-items: flex-start;
}


.col {
	flex: 1 0 0%;
	max-width: 100%;
	vertical-align: middle;
	align-items: center;
}

.col-6 {
	flex: 0 0 50%;
	max-width: 50%;
	padding-right: 15px;
	padding-left: 15px;
}

.col-5 {
	flex: 0 0 41.66667%; /* Aproximadamente 5/12 */
	max-width: 41.66667%;
	padding-right: 15px;
	padding-left: 15px;
}

input[matInput] {
	font-size: 1rem;
}

/**
* Sobreescrita estilos globais Angular Material
 */

mat-radio-group {
	flex-direction: row;
}

mat-radio-button {
	font-size: 1rem;
}

mat-dialog-actions {
	padding-right: 36px;
}

mat-hint {
	font-size: 12px;
	color: var(--text-primary);
}

