@use '@angular/material' as mat;
@use 'colors';

table.mat-elevation-z8 {
	width: 100%;
	border: 1px solid var(--border);
	border-radius: 10px;
	overflow: hidden;

	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

	.mat-header-cell {
		background-color: var(--header-background);
	}

	.mat-row:nth-child(odd) {
		background-color: var(--row-odd-bg);
	}

	.mat-row:nth-child(even) {
		background-color: var(--row-even-bg);
	}

	.mat-row:hover {
		background-color: var(--row-hover);
	}

	.mat-row-no-data {
		display: flex;
		justify-content: center;
		text-align: center;
	}
}

.cell-content-wrapper {
	display: flex;
	align-items: center;
	gap: 8px;
}
