@use '@angular/material' as mat;
@use 'colors';

table.mat-elevation-z8 {
	width: 100%;
	border: 1px solid var(--border);
	border-radius: 10px;
	overflow: hidden;

	@include mat.table-overrides((
		background-color: none,
	));

	.mat-header-cell {
		background-color: var(--header-background);
	}

	.mat-row:nth-child(odd) {
		background-color: var(--row-odd-bg);
	}

	.mat-row:nth-child(even) {
		background-color: var(--row-even-bg);
	}

	.mat-row:hover {
		background-color: var(--row-hover);
	}

}
