<div class="dialog-header">
	<h2 class="h2" mat-dialog-title>Informações de Chaves</h2>
	<button mat-icon-button mat-dialog-close>
		<mat-icon>close</mat-icon>
	</button>
</div>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
	<mat-dialog-content>
		<div class="row">
			<div class="col">
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>Código</mat-label>
					<input
						matInput
						maxlength="256"
						formControlName="code"
						[disabled]="true">
					<mat-error *ngIf="formGroup.get('code')?.invalid">Você deve inserir um valor</mat-error>
				</mat-form-field>
			</div>
			<div class="col">
				<button mat-fab extended
						class="button-link"
						type="button"
						aria-label="Imprimir">
					<mat-icon>print</mat-icon>
					<span>Imprimir</span>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>Descrição</mat-label>
					<input matInput maxlength="256" formControlName="description">
					<mat-error *ngIf="formGroup.get('description')?.invalid">Você deve inserir um valor</mat-error>
				</mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>Tipo de Chave</mat-label>
					<mat-select formControlName="keyType" [compareWith]="compareById">
						<mat-option [value]="TypeOfImportance.PRINCIPAL">{{ TypeOfImportance.PRINCIPAL }}</mat-option>
						<mat-option [value]="TypeOfImportance.SECUNDARIA">{{ TypeOfImportance.SECUNDARIA }}</mat-option>
					</mat-select>
					<mat-error *ngIf="formGroup.get('keyType')?.invalid">Você deve inserir um valor</mat-error>
				</mat-form-field>
			</div>
		</div>
	</mat-dialog-content>

	<mat-dialog-actions align="end">
		<button mat-raised-button
				class="button-secondary"
				type="button" [mat-dialog-close]="true">
			Cancelar
		</button>
		<button mat-raised-button
				class="button-primary"
				type="submit" [disabled]="formGroup.invalid">
			Salvar
		</button>
	</mat-dialog-actions>
</form>
